/* 
colore sfondo body:#F6F8F9
colore bottone blu: #47ADF1
colore badge blue2: #45ABEA 
colore badge lilla:#9C72E4
colore badge green:#64C0A9
colore badge orange:#F29E33
colore badge pink: #D863A1
colore badge light-green:#B0C926

*/


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #F6F8F9;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
}
header{
    padding: 10px 20px;
    
}
.align-img{
    vertical-align: -90%;
}
header, main div{
    background-color: white;
}
main{
    margin: 40px auto 20px;
    width: 70%;
}
ul{
    list-style: none;
}
li{
    padding-bottom: 10px;
    padding-top: 10px;
}
.main-top{
    padding: 15px 60px 10px;
    margin-bottom: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.main-bottom{
    padding: 30px 60px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
button{
    border: none;
    padding: 7px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    font-size: 0.8em;
    font-weight: bold;
    width: auto;
}
button.blue{
    background-color: #45ABEA;
    color: white;
    }
button.grey{
    background-color: white;
    color: #CED3D7;
    border: 1px solid #CED3D7;
}

.triangle{
    width: 30px;
    vertical-align: -50%;

}
h4{
    display: inline-block;
    font-size: 1.3em;
}
h1{
    display: inline-block;
    font-weight:900;
    font-size: 2.4em;
}
.bullet{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    color: rgb(62, 238, 62);
    border: 1px solid rgb(62, 238, 62);
    margin: 0px 5px
}
.bullet-not-done{
    color:red;
    border: 1px solid red;
}
.badge{
    display: inline-block;
    border-radius: 10px;
    padding: 6px 10px;
    color: white;
    font-size: 0.7em;
    font-weight: bold;
    margin: 0px 5px;
    background-color: gray;
}
.badge.blue2{
    background-color:#45ABEA;
}
.badge.lilla{
    background-color:#9C72E4;
}
.badge.green{
    background-color: #64C0A9;
}
.badge.orange{
    background-color: #F29E33 ;
}
.badge.pink{
    background-color:#D863A1;
}
.badge.light-green{
    background-color: #B0C926;
}