/* 
colore sfondo body:#F6F8F9
colore bottone blu: #47ADF1
colore badge blue2: #45ABEA 
colore badge lilla:#9C72E4
colore badge green:#64C0A9
colore badge orange:#F29E33
colore badge pink: #D863A1
colore badge light-green:#B0C926

*/


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #F6F8F9;
}
header, main div{
    background-color: white;
}

button{
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    font-size: small;
    font-weight: bold;
    width: auto;
    height: 3em;
}
button.blue{
    background-color: #45ABEA;
    color: white;
    }
button.grey{
    background-color: white;
    color: #CED3D7;
    border: 1px solid #CED3D7;
}

.triangle{
    width: 30px;

}
h3{
    display: inline-block;
}