/* 
colore sfondo body:#F6F8F9
colore bottone blu: #47ADF1
colore badge blue2: #45ABEA 
colore badge lilla:#9C72E4
colore badge green:#64C0A9
colore badge orange:#F29E33
colore badge pink: #D863A1
colore badge light-green:#B0C926

*/


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #F6F8F9;
}
header{
    padding: 10px 20px;
    
}
.align-img{
    vertical-align: -90%;
}
header, main div{
    background-color: white;
}
main{
    margin: 25px auto 20px;
    width: 80%;
}
ul{
    list-style: none;
    padding: 10px;
}
li{
    padding: 15px 30px;
}
.main-top{
    padding: 10px 60px 5px;
    margin-bottom: 2px;
}
button{
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    font-size: 0.6em;
    font-weight: bold;
    width: auto;
    height: 3em;
}
button.blue{
    background-color: #45ABEA;
    color: white;
    }
button.grey{
    background-color: white;
    color: #CED3D7;
    border: 1px solid #CED3D7;
}

.triangle{
    width: 30px;
    vertical-align: -50%;

}
h4{
    display: inline-block;
}
h1{
    display: inline-block;
}
.bullet{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    color: rgb(62, 238, 62);
    border: 1px solid rgb(62, 238, 62);
}
.bullet-not-done{
    color:red;
    border: 1px solid red;
}
/* .bullet-done{
    color: rgb(62, 238, 62);
    border: 1px solid rgb(62, 238, 62);
} */